@charset "utf-8";
* {font-family: '맑은 고딕','Malgun Gothic',Helvetica,AppleSDGothicNeo,sans-serif;;}
a {text-decoration: none;}

/*  header  */
header {width:100%; height:195px;}
#header {width:1200px; height:195px; margin:0 auto; margin-bottom: 10px;}

#upper-nav {width:1200px; height:38px;}

#upper-nav-left {float:left; padding:11px 0; font-size: 15px; font-weight: 500;}
#upper-nav-left li {float:left; padding:0 10px;}
#upper-nav-left a {color:white;}
#upper-nav-right {float:right; padding:12px 0; font-size:12px; font-weight: 400;}
#upper-nav-right li {float: left; padding:0 4px;}
#upper-nav-right a {color:white;}

#main-header {width:1200px; height:112px;}
#lower-nav {width:1200px; height:42px;}


/*    footer   */
footer {width:100%; height:337px; background-color: black;}
#footer {width:960px; height:336px; margin:20px auto; background-color: #eee;}

